<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>관리자-커뮤니티 관리</title>
  <!-- DataTables CSS -->
  <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <script th:src="@{/js/alert.js}"></script>
</head>
<body>
<div class="page">
  <th:block th:replace="~{dailyband/navbar :: navbarFragment}"/>
  <th:block th:replace="~{dailyband/header :: headerFragment}"/>
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              커뮤니티 관리
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
              <li class="nav-item">
                <a href="#tabs-bbs-ex1" class="nav-link active" data-bs-toggle="tab">게시글</a>
              </li>
              <li class="nav-item">
                <a href="#tabs-comments-ex1" class="nav-link" data-bs-toggle="tab">댓글</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active show" id="tabs-bbs-ex1">
                <table id="bbs_table" class="table table-vcenter card-table" style="width:100%">
                  <thead>
                  <tr style="background: #f6f8fb">
                    <td>게시판</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>추천수</td>
                    <td>조회수</td>
                    <td>등록일자</td>
                    <th class="w-1"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="g : ${gBoardList}">
                    <td th:text="${g.BBS_TY_NM}"></td>
                    <td>
                    <th:block th:if="${g['BBS_TY_NM'] == '음악'}">
                      <a th:href="@{'/gboard/music/detail/' + ${g.BBS_SN}}">
                        <span th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></span>
                      </a>
                    </th:block>
                    <th:block th:if="${g['BBS_TY_NM'] == '자유'}">
                      <a th:href="@{'/gboard/free/detail/' + ${g.BBS_SN}}">
                        <span th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></span>
                      </a>
                    </th:block>
                    <th:block th:if="${g['BBS_TY_NM'] == 'Q&A'}">
                      <a th:href="@{'/gboard/qna/detail/' + ${g.BBS_SN}}">
                        <span th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></span>
                      </a>
                    </th:block>
                    <th:block th:if="${g['BBS_TY_NM'] == '영상'}">
                      <a th:href="@{'/gboard/video/detail/' + ${g.BBS_SN}}">
                        <span th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></span>
                      </a>
                    </th:block>
                    </td>
                    <td>
                      <th:block th:if="${g.MBR_ID != username}">
                        <a th:href="@{../member/info(id=${g.MBR_ID})}">[[${g.MBR_NCNM}]]</a>
                      </th:block>
                      <th:block th:if="${g.MBR_ID == username}">
                        <a th:href="@{../member/myprofile}">[[${g.MBR_NCNM}]]</a>
                      </th:block>
                    </td>
                    <td th:text="${g.BBS_REMD_CNT}"></td>
                    <td th:text="${g.BBS_READ_CNT}"></td>
                    <td th:text="${#strings.substring(g.REG_DT, 0, 11)}"></td>
                    <td>
                      <button type="button" class="btn btn-danger btn-icon btn-sm"
                              th:data-bbs-sn="${g.BBS_SN}" onclick="confirmGboardDelete(this);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M4 7l16 0"/>
                          <path d="M10 11l0 6"/>
                          <path d="M14 11l0 6"/>
                          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
              <div class="tab-pane" id="tabs-comments-ex1">
                <table id="comment_table" class="table table-vcenter card-table" style="width:100%">
                  <thead>
                  <tr style="background: #f6f8fb">
                    <td>게시판</td>
                    <td>내용</td>
                    <td>작성자</td>
                    <td>등록일자</td>
                    <th class="w-1"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="g : ${gBoardCmntList}">
                    <td th:text="${g.BBS_TY_NM}"></td>
                    <td>
                    <th:block th:if="${g.BBS_TY_NM == '음악'}">
                      <a th:href="@{'/gboard/music/detail/' + ${g.BBS_SN}}">
                        [[${g.CMNT_CN}]]<br>
                        [<small th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></small>]
                      </a>
                    </th:block>
                      <th:block th:if="${g.BBS_TY_NM == '자유'}">
                        <a th:href="@{'/gboard/free/detail/' + ${g.BBS_SN}}">
                          [[${g.CMNT_CN}]]<br>
                          [<small th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></small>]
                        </a>
                      </th:block>
                      <th:block th:if="${g.BBS_TY_NM == 'Q&A'}">
                        <a th:href="@{'/gboard/qna/detail/' + ${g.BBS_SN}}">
                          [[${g.CMNT_CN}]]<br>
                          [<small th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></small>]
                        </a>
                      </th:block>
                      <th:block th:if="${g.BBS_TY_NM == '영상'}">
                        <a th:href="@{'/gboard/video/detail/' + ${g.BBS_SN}}">
                          [[${g.CMNT_CN}]]<br>
                          [<small th:text="${#strings.length(g.BBS_SJ) >= 20 ? #strings.substring(g.BBS_SJ,0,20) + '...' : g.BBS_SJ}"></small>]
                        </a>
                      </th:block>
                    </td>
                    <td>
                      <th:block th:if="${g.MBR_ID != username}">
                        <a th:href="@{../member/info(id=${g.MBR_ID})}">[[${g.MBR_NCNM}]]</a>
                      </th:block>
                      <th:block th:if="${g.MBR_ID == username}">
                        <a th:href="@{../member/myprofile}">[[${g.MBR_NCNM}]]</a>
                      </th:block>
                    </td>
                    <td th:text="${#strings.substring(g.REG_DT, 0, 11)}"></td>
                    <td>
                      <button type="button" class="btn btn-danger btn-icon btn-sm"
                              th:data-cmnt-sn="${g.CMNT_SN}" onclick="confirmGboardCmntDelete(this);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M4 7l16 0"/>
                          <path d="M10 11l0 6"/>
                          <path d="M14 11l0 6"/>
                          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{dailyband/footer :: footerFragment}"/>
  </div>
</div>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
<div th:if="${message}">
  <script th:inline="javascript">
    Swal.fire({
      icon: [[${status}]] === 'success' ? 'success' : 'error',
      title: [[${status}]] === 'success' ? '성공' : '실패',
      text: [[${message}]],
      confirmButtonText: '확인',
      heightAuto: false
    });
  </script>
</div>
<script th:inline="javascript">
  var dtLanguage = {
    "decimal": "",
    "emptyTable": "데이터가 없습니다",
    "info": "_START_ - _END_ (총 _TOTAL_개)",
    "infoEmpty": "0명",
    "infoFiltered": "(전체 _MAX_ 개 중 검색결과)",
    "infoPostFix": "",
    "thousands": ",",
    "lengthMenu": "_MENU_ 개씩 보기",
    "loadingRecords": "로딩 중...",
    "processing": "처리 중...",
    "search": "검색:",
    "zeroRecords": "검색된 데이터가 없습니다",
    "aria": {
      "sortAscending": ": 오름차순 정렬",
      "sortDescending": ": 내림차순 정렬"
    }
  };

  $('#bbs_table').DataTable({
    responsive: true,
    order: false,
    language: dtLanguage,
    lengthMenu: [10, 20, 35, 50, { label: '전체', value: -1 }]
  })

  $('#comment_table').DataTable({
    autoWidth: true,
    responsive: true,
    order: false,
    language: dtLanguage,
    lengthMenu: [10, 20, 35, 50, { label: '전체', value: -1 }]
  })

  document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const tab = urlParams.get('tab');
    if (tab) {
      const tabElement = document.querySelector(`.nav-link[href="#tabs-${tab}-ex1"]`);
      if (tabElement) {
        tabElement.click();
      }
    }
  });

</script>
</body>
</html>
