<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>관리자-회원관리</title>
  <!-- DataTables CSS -->
  <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<body>
<div class="page">
  <th:block th:replace="~{dailyband/navbar :: navbarFragment}"/>
  <th:block th:replace="~{dailyband/header :: headerFragment}"/>
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              회원 관리
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                  <table id="mbr_table" class="table table-vcenter card-table" style="width:100%">
                    <thead>
                    <tr style="background: #f6f8fb">
                      <th>아이디</th>
                      <th>이메일</th>
                      <th>참여 밴드</th>
                      <th>닉네임</th>
                      <th>성별</th>
                      <th>나이</th>
                      <th>회원권한</th>
                      <th>회원상태</th>
                      <th>가입일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m : ${memberlist}">
                      <td>
                        <span class="avatar avatar-sm"
                              th:style="|background-image: url('${m['MBR_PROFL_PHOTO']}');| "></span>
                        <th:block th:if="${m['MBR_ID'] != username}">
                        <a th:href="@{../member/info(id=${m.MBR_ID})}">[[${m['MBR_ID']}]]</a>
                        </th:block>
                        <th:block th:if="${m.MBR_ID == username}">
                          <a th:href="@{../member/myprofile}">[[${m['MBR_ID']}]]</a>
                        </th:block>
                      </td>
                      <td>[[${m['MBR_EML_ADDR']}]]</td>
                      <td>[[${m['BAND_NM']}]]</td>
                      <td>[[${m['MBR_NCNM']}]]</td>
                      <td>[[${m['MBR_GENDER']}]]</td>
                      <td th:if="${m['MBR_AGE'] != 0 and m['MBR_AGE'] != null}">[[${m['MBR_AGE']}]]세</td>
                      <td th:unless="${m['MBR_AGE'] != 0 and m['MBR_AGE'] != null}"></td>
                      <td class="text-end" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" th:if="${m.MBR_TY == 'ROLE_MEMBER'}">회원</a>
                        <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" th:if="${m.MBR_TY == 'ROLE_MANAGER'}">매니저</a>
                        <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" th:if="${m.MBR_TY == 'ROLE_ADMIN'}">관리자</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{changeRole(id=${m.MBR_ID}, role='ROLE_MEMBER')}">회원</a>
                          <a class="dropdown-item" th:href="@{changeRole(id=${m.MBR_ID}, role='ROLE_MANAGER')}">매니저</a>
                          <a class="dropdown-item" th:href="@{changeRole(id=${m.MBR_ID}, role='ROLE_ADMIN')}">관리자</a>
                        </div>
                      </td>
                      <th:block sec:authorize="hasAnyRole('ROLE_MANAGER')">
                        <td th:if="${m.MBR_TY == 'ROLE_MEMBER'}">회원</td>
                        <td th:if="${m.MBR_TY == 'ROLE_MANAGER'}">매니저</td>
                        <td th:if="${m.MBR_TY == 'ROLE_ADMIN'}">관리자</td>
                      </th:block>
                      <td class="text-end">
                        <a href="#" class="btn dropdown-toggle btn-outline-success" data-bs-toggle="dropdown" th:if="${m.MBR_STTUS == 0}">활성화</a>
                        <a href="#" class="btn dropdown-toggle btn-outline-danger" data-bs-toggle="dropdown" th:if="${m.MBR_STTUS == 1}">비활성화</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{changeStatus(id=${m.MBR_ID}, newStatus=0)}">활성화</a>
                          <a class="dropdown-item" th:href="@{changeStatus(id=${m.MBR_ID}, newStatus=1)}">비활성화</a>
                        </div>
                      </td>
                      <td th:text="${#strings.substring(m['REG_DT'], 0, 19)}">[[${m['REG_DT']}]]</td>
                    </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{dailyband/footer :: footerFragment}"/>
  </div>
</div>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
<div th:if="${message}">
  <script th:inline="javascript">
    Swal.fire({
      icon: [[${status}]] === 'success' ? 'success' : 'error',
      title: [[${status}]] === 'success' ? '성공' : '실패',
      text: [[${message}]],
      confirmButtonText: '확인',
      heightAuto: false
    });
  </script>
</div>
<script>
  $('#mbr_table').DataTable({
    responsive: true,
    language: {
      "decimal": "",
      "emptyTable": "데이터가 없습니다",
      "info": "_START_ - _END_ (총 _TOTAL_명)",
      "infoEmpty": "0명",
      "infoFiltered": "(전체 _MAX_ 명 중 검색결과)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "_MENU_ 개씩 보기",
      "loadingRecords": "로딩 중...",
      "processing": "처리 중...",
      "search": "검색:",
      "zeroRecords": "검색된 데이터가 없습니다",
      "aria": {
        "sortAscending": ": 오름차순 정렬",
        "sortDescending": ": 내림차순 정렬"
      }
    },
    lengthMenu: [10, 25, 35, 50, { label: '전체', value: -1 }]


  });
</script>
</body>
</html>