<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnd.dailyband.mybatis.mapper.ReservationMapper">

    <insert id="insertCalendar">
        INSERT INTO RESERVATION (bbs_sn, start, end, color, textColor, room_number)
        VALUES (#{bbs_sn}, #{start}, #{end}, #{color}, #{textColor}, #{room_number})
    </insert>

    <select id="getAllCalendars" resultType="com.bnd.dailyband.domain.Reservation">
        SELECT distinct c.*
        FROM RESERVATION c
                 INNER JOIN BAND_PRPT_INFO b ON c.bbs_sn = b.BBS_SN
        WHERE b.MBR_PRPT_STTUS IN (1, 2)
    </select>

    <select id="bandck" resultType="Rboard">
        select BBS_SN from BAND_PRPT_INFO where MBR_PRPT_STTUS IN (1,2) and MBR_ID = #{id}
    </select>


    <delete id="deleteCalendar">
        DELETE FROM RESERVATION WHERE cal_id = #{cal_id}
    </delete>

    <update id="updateCalendar" >
        UPDATE RESERVATION
        SET start = #{start}, end = #{end}
        WHERE cal_id = #{cal_id}
    </update>
</mapper>
