<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<head>
<meta charset="utf-8">
<!-- CSS -->
<style>
.footer {
	margin-top: 80px;
}
</style>
</head>
<body>
	<!-- Footer -->
	<footer class="footer">

		<!-- Widgets - Bootstrap Brain Component -->
		<div
			class="bg-light py-3 py-md-5 py-xl-8 border-top border-light-subtle">
			<div class="container overflow-hidden">
				<div class="row gy-3 gy-md-5 gy-xl-0 align-items-sm-center">
					<div class="col-xs-12 col-sm-6 col-xl-3 order-0 order-xl-0">
						<div class="footer-logo-wrapper text-center text-sm-start">
							<a href="#!"> <img src="image/dailyband.png"
								alt="dailyband Logo" width="175" height="57">
							</a>
						</div>
					</div>

					<div class="col-xs-12 col-xl-6 order-2 order-xl-1">
						<h3 class="nav justify-content">밴앤드</h3>
						<ul class="nav justify-content">
							<li>김도연 변만수 윤찬영 홍창민</li>
							
						</ul>
					</div>

					<div class="col-xs-12 col-sm-6 col-xl-3 order-1 order-xl-2">
						<ul class="nav justify-content-center justify-content-sm-end">
							<li class="nav-item">
								<a class="nav-link link-dark px-3" href="https://github.com/hcm01316/DailyBand">
								<img class="footer_link" alt="github" src="image/github.png">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</head>
</th:block>
</html>