<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <style>
        #yrModal {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 1000;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #modalContent {
            width: 400px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }

        #modalContent h1 {
            margin-top: 0;
        }

        #modalContent input[type="text"],
        #modalContent input[type="time"],
        #modalContent input[type="color"],
        #modalContent button {
            margin-bottom: 10px;
        }

        #modalContent button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #modalContent button:hover {
            background-color: #0056b3;
        }
    </style>
    <title>밴드 일정</title>
</head>
<body>
<div class="page">
    <th:block th:replace="~{dailyband/navbar :: navbarFragment}"/>
    <th:block th:replace="~{dailyband/header :: headerFragment}"/>
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            밴드 일정
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div id="yrModal" style="display:none;">
                    <div id="modalContent">
                        <h1>일정 추가 모달</h1>
                        <label for="schStart">시작일:</label>
                        <input type="text" id="schStart" th:value="${schStart}"><br>
                        <label for="schStartTime">시작시간:</label>
                        <input type="time" id="schStartTime" th:value="${schStartTime}"><br>
                        <label for="schEnd">종료일:</label>
                        <input type="text" id="schEnd" th:value="${schEnd}"><br>
                        <label for="schEndTime">종료시간:</label>
                        <input type="time" id="schEndTime" th:value="${schEndTime}"><br>
                        <label for="schTitle">제목:</label>
                        <input type="text" id="schTitle" th:value="${schTitle}"><br>
                        <input type="checkbox" id="allDay" th:checked="${allDay}">
                        <label for="allDay">하루종일</label><br>
                        <label for="schBColor">배경색:</label>
                        <input type="color" id="schBColor" th:value="${schBColor}"><br>
                        <label for="schFColor">글자색:</label>
                        <input type="color" id="schFColor" th:value="${schFColor}"><br>
                        <button onclick="fCalAdd()">추가</button>
                        <button onclick="fMClose()">닫기</button>
                    </div>
                </div>
                <div id="Wrapper">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
        <th:block th:replace="~{dailyband/footer :: footerFragment}"/>
    </div>
</div>
<script th:inline="javascript">
    let token = $("meta[name='_csrf']").attr("content");
    let header = $("meta[name='_csrf_header']").attr("content");

    const bbsSn = [[${bbsSn}]]

    let calendar = {}

        const calendarEl = document.querySelector('#calendar');
        const mySchStart = document.querySelector("#schStart");
        const mySchStartTime = document.querySelector("#schStartTime");
        const mySchEnd = document.querySelector("#schEnd");
        const mySchEndTime = document.querySelector("#schEndTime");
        const mySchTitle = document.querySelector("#schTitle");
        const mySchAllday = document.querySelector("#allDay");
        const mySchBColor = document.querySelector("#schBColor");
        const mySchFColor = document.querySelector("#schFColor");
        const YrModal = document.querySelector("#yrModal");

        let respondata = [];

        function getlist(){
            $.ajax({
                url:"select",
                method : "GET",
                async : false,
                success : function (rdata){

                    respondata = rdata;

                    const calendarOption = {
                        height: '700px',
                        expandRows: true,
                        headerToolbar: {
                            left: 'prevYear,prev,next,nextYear today',
                            center: 'title',
                            right: 'dayGridMonth,dayGridWeek,timeGridDay'
                        },
                        initialView: 'dayGridMonth',
                        locale: 'kr',
                        selectable: true,
                        selectMirror: true,
                        navLinks: true,
                        editable: true,
                        eventResizableFromStart: true,
                        dayMaxEventRows: true,
                        nowIndicator: true,
                        events:rdata
                    }

                    calendar = new FullCalendar.Calendar(calendarEl, calendarOption);

                    calendar.on("select", info => {
                        mySchStart.value = info.startStr.split('T')[0];
                        mySchEnd.value = info.endStr.split('T')[0];

                        // 선택한 날짜의 시간을 입력란에 표시합니다.
                        if (!info.allDay) {
                            mySchStartTime.value = info.startStr.split('T')[1].substring(0, 5);
                            mySchEndTime.value = info.endStr.split('T')[1].substring(0, 5);
                        }

                        // 월간 뷰에서는 종료일을 선택한 날짜의 마지막 날짜로 설정
                        if (info.view.type === 'dayGridMonth') {
                            let endDate = new Date(info.endStr);
                            endDate.setDate(endDate.getDate() - 1); // 선택한 달의 마지막 날짜로 설정
                            mySchEnd.value = endDate.toISOString().split('T')[0];
                        }
                        // 주간 뷰에서는 종료일을 선택한 주의 마지막 날짜로 설정
                        else if (info.view.type === 'dayGridWeek') {
                            let endDate = new Date(info.endStr);
                            endDate.setDate(endDate.getDate() -1); // 선택한 주의 마지막 날짜로 설정
                            mySchEnd.value = endDate.toISOString().split('T')[0];
                        }

                        YrModal.style.display = "flex";
                    });

                    // 이벤트 수정 시 알림 창 표시
                    calendar.on('eventChange', function(changeInfo) {
                        if (confirm("이 일정을 수정하시겠습니까?")) {
                            updateEvent(changeInfo.event);
                        } else {
                            // 변경 사항을 취소하고 원래 위치로 복구
                            changeInfo.revert();
                        }
                    });


                    calendar.on('eventClick', function(info) {
                        if (confirm("정말로 이 일정을 삭제하시겠습니까?")) {
                            deleteCalendar(info.event.extendedProps.cal_id);
                        }
                    });

                    calendar.render();

                    console.log("getlist()");
                }
            })
        }
        getlist();



        function deleteCalendar(cal_id) {
            $.ajax({
                url: "delete/" + cal_id,
                method: "POST",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(response) {
                    console.log(response);
                    // 삭제된 일정을 바로 캘린더에서 제거
                    calendar.getEvents().forEach(function(event) {
                        if (event.extendedProps.cal_id === cal_id) {
                            event.remove(); // 캘린더에서 해당 이벤트를 삭제
                        }
                    });
                }
            });
        }



        function fCalAdd() {
            if (!mySchTitle.value) {
                alert("제목을 입력하세요.");
                mySchTitle.focus();
                return;
            }

            let bColor = mySchBColor.value;
            let fColor = mySchFColor.value;
            if (fColor == bColor) {
                bColor = "#7C87FF";
                fColor = "white";
            }

            let event = {
                title: mySchTitle.value,
                allDay: mySchAllday.checked,
                backgroundColor: bColor,
                textColor: fColor
            };

            if (mySchAllday.checked) {
                // 하루 종일 이벤트
                event.start = mySchStart.value + 'T00:00'; // 시작일의 00:00
                // 종료일은 시작일의 다음 날의 00:00으로 설정
                let endDate = new Date(mySchEnd.value);
                endDate.setDate(endDate.getDate() + 1);
                event.end = endDate.toISOString().split('T')[0] + 'T00:00';

                // 종료일이 시작일보다 이후인지 확인
                if (new Date(event.start) >= new Date(event.end)) {
                    alert("시작시간은 종료시간보다 빨라야 합니다.");
                    return;
                }
            } else {
                // 시간이 지정된 이벤트
                event.start = mySchStart.value + 'T' + mySchStartTime.value;
                event.end = mySchEnd.value + 'T' + mySchEndTime.value;

                if (new Date(event.start) > new Date(event.end)) {
                    alert("시작시간은 종료시간보다 빨라야 합니다.");
                    return;
                }
            }

            calendar.addEvent(event);
            console.log("bbsSn="+ bbsSn);
            console.log(event.title);
            console.log(event.start);
            console.log(event.end);
            console.log(mySchAllday.checked);
            console.log(bColor);
            console.log(fColor);
            const sendData = {
                bbs_sn: bbsSn,
                title : event.title,
                start : event.start,
                end : event.end,
                allDay : mySchAllday.checked,
                color : bColor,
                textColor: fColor
            }
            $.ajax({
                url:"add",
                data:sendData,
                method:"post",
                beforeSend : function(xhr)
                {   //데이터를 전송하기 전에 헤더에 csrf값을 설정합니다.
                    xhr.setRequestHeader(header, token);
                },
                cache : false,
                success:function (){
                    getlist();
                }
            })
            fMClose();
        }

        function fMClose() {
            YrModal.style.display = "none";
        }

        window.fCalAdd = fCalAdd;
        window.fMClose = fMClose;



    // 이벤트 업데이트 함수
    function updateEvent(event) {
        const isoStart = moment(event.start).format('YYYY-MM-DDTHH:mm'); // 시작 시간을 ISO 형식 문자열로 변환
        const isoEnd = moment(event.end).format('YYYY-MM-DDTHH:mm');     // 종료 시간을 ISO 형식 문자열로 변환
        const updatedEvent = {
            cal_id: event.extendedProps.cal_id,
            start: isoStart,
            end: isoEnd,
        };
        console.log("업데이트할 이벤트:", updatedEvent);
        // 서버로 수정된 이벤트 정보를 전송하여 데이터베이스를 업데이트합니다.
        $.ajax({
            url: "update",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(updatedEvent),
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(response) {
                // 성공적으로 업데이트된 경우에 대한 처리
                console.log("성공");
            },
            error: function(xhr, status, error) {
                // 업데이트에 실패한 경우에 대한 처리
                console.error("업데이트 중 오류", error);
            }
        });
    }


</script>
</body>
</html>
