<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:if="${message != null}">
    <script th:inline="javascript">
        var isMessage = true;
        if (isMessage) {
            alert([[${message}]]);
            isMessage = false;
        }
    </script>
</div>

<div class="page">
    <th:block th:replace="~{dailyband/navbar :: navbarFragment}"/>
    <th:block th:replace="~{dailyband/header :: headerFragment}"/>
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">

                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body" style='background-color: white'>
            <div class="container-xl">
                <div><h2>[[${rboarddata.BAND_TEAM_NM}]]</h2> <span>작성자 [[${rboarddata.MBR_ID}]] 조회수 [[${rboarddata.BBS_READ_CNT}]] [[${rboarddata.REG_DT}]]</span></div>
                <hr style="margin: 0 auto">
               [[${rboarddata.RCRIT_REALM_IDK}]] [[${rboarddata.RCRIT_GENRE_IDK}]] [[${rboarddata.RCRIT_AREA_IDK}]] [[${rboarddata.RCRIT_NOPE}]]명
                <hr>
                [[${rboarddata.BBS_CN}]]
            </div>
            <div>
                 <a th:href="@{/rboard/join(num=${rboarddata.BBS_SN})}" class="btn" id="rjoin">
                     가입신청
                 </a>
                 <a th:href="@{/rboard/modify(num=${rboarddata.BBS_SN})}" class="btn">
                     수정
                 </a>
                 <a th:href="@{/rboard/delete(num=${rboarddata.BBS_SN})}" class="btn">
                     삭제
                 </a>
                 <a th:href="@{/rboard/list}" class="btn">
                    목록
                 </a>
            </div>
        </div>
        <th:block th:replace="~{dailyband/footer :: footerFragment}"/>
    </div>
</div>
</body>
</html>