<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>밴드원 모집 게시글</title>
    <script>
        function checkOnlyOne(checkbox, groupName) {
            var checkboxes = document.getElementsByName(groupName);
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false;
            });
        }
    </script>
</head>
<body>
<div class="page">
    <th:block th:replace="~{dailyband/navbar :: navbarFragment}"/>
    <th:block th:replace="~{dailyband/header :: headerFragment}"/>
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            밴드원 모집 리스트
                        </h2>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">
                        <th:block th:with="num=${listcount - (page - 1) * limit}">
                                <div class="col-md-4" th:each="item,iterStat : ${rboardlist}">
                                    <div class="card">
                                        <div class="card-header">
                                            <div>
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <th:block th:if="${item.MBR_PROFL_PHOTO} == null">
                                                            <img th:src="@{/image/rboard.png}" class="rounded-circle" width="30px">
                                                        </th:block>
                                                        <th:block th:if="${item.MBR_PROFL_PHOTO} != null">
                                                            <img th:src="${item.MBR_PROFL_PHOTO}" class="rounded-circle" width="30px">
                                                        </th:block>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card-title">
                                                            <a th:href="@{/member/info(id=${item.MBR_ID})}">[[${item.MBR_NCNM}]]</a>
                                                             [[${item.BAND_TEAM_NM}]]</div>
                                                        <div class="card-subtitle">
                                                            [[${item.formattedRegDt}]] [[${item.RCRIT_GENRE_IDK}]] [[${item.RCRIT_AREA_IDK}]] [[${item.RCRIT_REALM_IDK}]]
                                                            <th:block th:if="${item.RCRIT_STTUS_CD} == 1">
                                                                모집중
                                                            </th:block>
                                                            <th:block th:if="${item.RCRIT_STTUS_CD} == 0">
                                                                모집완료
                                                            </th:block>
                                                            [[${item.RCRIT_NOPE}]]명
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-actions">
                                                <a th:href="@{/rboard/detail(num=${item.BBS_SN})}" class="btn">
                                                    가입신청
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <img th:src="@{/image/rboard.png}"width="650" height="200"/>
                                        </div>
                                    </div>
                                </div>
                        </th:block>
            </div>
            <th:block th:if="${isband} == 0">
                <a th:href="@{/rboard/write}" class="btn">
                    글쓰기
                </a>
            </th:block>
                <div class="center-block ">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${page <= 1}">
                            <a class="page-link gray">이전&nbsp;</a>
                        </li>

                        <li class="page-item" th:if="${page > 1}">
                            <a th:href="@{'list?page=' + ${page - 1}}" class="page-link">이전&nbsp;</a>
                        </li>

                        <li th:class="${a == page} ? 'page-item active' : 'page-item'"
                            th:each="a :${#numbers.sequence(startpage, endpage)}">
                            <a th:href="${a == page} ? '' : 'list?page=' + ${a}"
                               class="page-link">
                                <span th:text="${a}"></span>
                            </a>
                        </li>

                        <li class="page-item" th:if="${page >= maxpage}">
                            <a class="page-link gray">&nbsp;다음</a>
                        </li>

                        <li class="page-item" th:if="${page < maxpage}">
                            <a th:href="@{'list?page=' + ${page + 1}}" class="page-link">&nbsp;다음</a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <th:block th:replace="~{dailyband/footer :: footerFragment}"/>
</div>
</div>
</body>
</html>
</body>

</html>