<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <script th:src="@{/js/UploadAdapter.js}" charset="utf-8"></script>
    <style>
        #container {
            width: 1000px;
            margin: 20px auto;
        }

        .ck-editor__editable[role="textbox"] {
            /* Editing area */
            min-height: 200px;
        }

        .ck-content .image {
            /* Block images */
            max-width: 80%;
            margin: 20px auto;
        }
    </style>
    <title>QnA게시글 수정</title>
    <script>
        function checkOnlyOne(checkbox, groupName) {
            var checkboxes = document.getElementsByName(groupName);
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false;
            });
        }
    </script>
</head>
<body>
<div class="page">
    <th:block th:replace="~{dailyband/navbar :: navbarFragment}"/>
    <th:block th:replace="~{dailyband/header :: headerFragment}"/>
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            게시글 수정
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form th:action="@{'/gboard/qna/modify/' + ${board.BBS_SN}}" method="post" name="boardform">
                <input type="hidden" name="MBR_ID" th:value="${#authentication.principal.username}">
                    <div class="mb-3">
                        <label class="form-label">제목</label>
                        <input type="text" class="form-control" id="BBS_SJ" name="BBS_SJ" placeholder="제목을 입력하세요." th:value="${board.BBS_SJ}" />
                    </div>
                    <div class="mb-3">
                        <div class="form-selectgroup form-selectgroup-pills">
                        </div>
                    </div>

                    <div class="mb-3">
                        <textarea id="editor" name="BBS_CN" th:text="${board.BBS_CN}"></textarea>
                        <script th:inline="javascript">
                            ClassicEditor
                                .create(document.querySelector('#editor'), {
                                    language: 'ko',
                                    extraPlugins: [MyCustomUploadAdapterPlugin]
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                        </script>
                    </div>
                    <input type="submit" class="btn" value="글수정"/>
                    <a th:href="@{'/gboard/qna/detail/' + ${board.BBS_SN}}" class="btn">
                        취소
                    </a>
                </form>

            </div>
            <div class="container-xl">

            </div>
        </div>
        <th:block th:replace="~{dailyband/footer :: footerFragment}"/>
    </div>
</div>
<script th:inline="javascript" charset="utf-8">
    $(document).ready(function () {

        function checkOnlyOne(checkbox, groupName) {
            var checkboxes = document.getElementsByName(groupName);
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false;
            });
        }

        $("form[name=boardform]").submit(function () {

            if ($.trim($("#BBS_SJ").val()) == "") {
                alert("제목을 입력하세요");
                $("#board_subject").focus();
                return false;
            }

            const editorData = ClassicEditor.instances.editor.getData();
            if ($.trim(editorData) == "") {
                alert("내용을 입력하세요");
                $("#editor").focus();
                return false;
            }
        });// submit end
    }); // ready() end
</script>
</body>
</html>
